<h1>Transactions for
    <%= user.username %>
</h1>
<h3>Here is your list of things to do!</h3>
<br>
<ul>
    <li>
        <a href="/transaction">transaction table</a>
    </li>

</ul>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Category</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <% transactions.forEach(function(transaction) { %>
            <tr>
                <td>
                    <%= transaction._id %>
                </td>
                <td>
                    <%= transaction.totalAmount %>
                </td>
            </tr>
            <% }); %>
    </tbody>
</table>